* {
  margin: 0;
  padding: 0;
}

body, html {
  min-height: 100vh;
}

header {
  background-color: black;
  color: lightpink;
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid lightpink;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
}

.board {
  margin: 50px;
  width: 500px;
  height: 500px;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.field {
  border: 3px solid white;
}