@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  margin: 0;
  padding: 0;
  color: lightpink;
  font-family: 'Anton', sans-serif;
}

#overlay, #winnerOverlay {
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  z-index: 2;
  font-size: 4em;
  text-align: center;
  padding-top: 30vh;
  background-color: rgba(0, 0, 0, 0.75);
}

body, html {
  min-height: 100vh;
}

h1, button{
  font-size: 3em;
  letter-spacing: 5px;
}

header {
  background-color: black;
  color: lightpink;
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid lightpink;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.board {
  margin: auto;
  padding-top: 50px;
  width: 500px;
  height: 500px;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, minmax(165px, 1fr));
  
}

.field {
  border: 3px solid white;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.field:hover{
  background-color: rgba(250, 194, 203, 0.75);
}

i {
  top: 0;
  left: 10px;
  object-fit: fill;
  position: absolute;
  color: white;
}

.fa-x{
  left: 20px;
}

.controlling{
  width: 100%;
  display: flex;
  justify-content: center;
}

#startBtn {
  z-index: 3;
}

button {
  color: lightpink;
  background-color: black;
  border: 5px solid lightpink;
  border-radius: 5px;
  margin: 20px;
  padding: 10px 30px;
  font-size: 3em;
  font-weight: 900;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 0.5em 0 lightpink;
  background-color: rgb(29, 29, 29)
}
button:active {
  box-shadow: inset 0 0 0.5em 0 lightpink;
  background-color: rgb(29, 29, 29)
}